<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.testcdek.tasktimetracker.mapper.TimeRecordMapper">

    <resultMap id="timeRecordResultMap" type="ru.testcdek.tasktimetracker.model.TimeRecord">
        <id property="id" column="id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="taskId" column="task_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="workDescription" column="work_description"/>
    </resultMap>

    <insert id="insertTimeRecord"
            parameterType="ru.testcdek.tasktimetracker.model.TimeRecord"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO time_records (
        employee_id,
        task_id,
        start_time,
        end_time,
        work_description
        )
        VALUES (
        #{employeeId},
        #{taskId},
        #{startTime},
        #{endTime},
        #{workDescription}
        )
    </insert>

    <select id="findTimeRecordsByEmployeeIdAndPeriod"
            resultMap="timeRecordResultMap">
        SELECT id,
        employee_id,
        task_id,
        start_time,
        end_time,
        work_description
        FROM time_records
        WHERE employee_id = #{employeeId}
        AND start_time >= #{startTime}
        AND end_time &lt;= #{endTime}
        ORDER BY start_time
    </select>

</mapper>